@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Sansita+Swashed:wght@500&display=swap');

:root {
  --primary-color: #795548;
  --error-color: #f85032;
  --text-color: #0d0d0d;
  --transition: all ease-in-out 0.3s;
}
body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.auth {
  display: flex;
  align-items: center;
  height: 100%;
}
.card {
  background: #fff;
  padding: 3rem;
  text-align: center;
  box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  width: 90%;
  margin: 0 auto;
}
.inputWrapper {
  margin: 1rem auto;
  width: 100%;
}
input:not([type='checkbox']), button {
  border-radius: 0.5rem;
  width: 100%;
}
input:not([type='checkbox']), textarea {
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 1em;
  color: var(--text-color);
  transition: var(--transition);
}
input:not([type='checkbox']):focus, textarea:focus {
  outline: none;
  border-color: var(--primary-color);
}
button {
  appearance: none;
  border: 1px solid var(--primary-color);
  color: #fff;
  background-color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  padding: 1em;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}
button.secondary {
  color: var(--primary-color);
  background-color: #fff;
  border-color: #fff;
  
}
.secondary {
  color: var(--primary-color);
  background-color: #fff;
  border-color: #fff;
  appearance: none;
  text-align: center;
  border: 1px solid var(--primary-color);
  color: #fff;
  background-color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  padding: 1em;

  width: 100%;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  text-decoration: none;
  text-transform: uppercase;
}
button:hover, button:focus {
  box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.1);
}
.error {
  margin: 0;
  margin-top: 0.2em;
  font-size: 0.8em;
  color: var(--error-color);
  animation: 0.3s ease-in-out forwards fadeIn;
}
.two-cols {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}
.two-cols .left {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  height: 100%;
  overflow-y: scroll;
}
.two-cols .right {
  overflow-y: auto;
}
.title {
  font-size: 1.3rem;
}
.subtitle {
  font-size: 0.9rem;
  opacity: 0.85;
  padding: 4px;
}
.title, .subtitle {
  margin: 0;
}
.diary-tile {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em;
}
.editor {
  height: 100%;
  padding: 1em;
}
.editor input {
  width: 100%;
}
.editor textarea {
  width: 100%;
  height: calc(100vh - 160px);
}
.entries ul {
  list-style: none;
  padding: 0;
}
.entries header{
  text-decoration: none;
}
.entries li {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5em;
  cursor: pointer;
}
.entries li:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .two-cols .left {
    width: 25%;
  }
  .two-cols .right {
    width: 75%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
.auth::before{
  content: "";
  /* background: url("https://source.unsplash.com/collection/190728/1600x900") no-repeat center center/cover ; */
  background: url("https://source.unsplash.com/1600x900/?diary,diary") no-repeat center center/cover ;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0.7;
  overflow-x: hidden;
  
}
.header-auth{
  font-family: 'Sansita Swashed', cursive; 
}
.no-account{
  font-family: 'Sansita Swashed', cursive; 

}
.two-cols::before{
  padding: 0;
  margin-top: 0;
  margin: 0;
  content: "";
  /* background: url("https://source.unsplash.com/collection/190728/1600x900") no-repeat center center/cover ; */
  background: url("https://source.unsplash.com/1600x900/?diary,diary") no-repeat center center/cover ;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0.6;
  overflow-x: hidden;
}